.underlined.signup::after,
.underlined.login::after{
    content: '';
    background-color: #14b8a6;
    position: absolute;
    width: 100%;
    height: 3px;
    z-index: 1;
    bottom: 0;
    left: 0;
    border-radius: 6px 6px 0 0;
    transition: all ease-in .5s;
}